.cta-contact{
  padding: 1rem 3rem;
  border-radius:var(--border-radius);
  background: var(--color-background-linear);
  color: #FCFDF9;
}
.cta-card{
  background:var(--color-primary);
  border-radius: var(--border-radius);
  margin: 0.5rem 0;
  padding: 2px;
  color: var(--color-background);
}
.cta-contact:hover{
  color: var(--color-accent);
  text-decoration: underline;
  text-underline-offset: 3px;
}
.cta-card:hover{
  color: var(--color-accent);
}