---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Presentation from '../components/Presentation.astro';
import Service from '../components/Service.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Accueil">
	<Header />
	<Nav />
	<Hero />
	<main>
		<Presentation />
		<Service />
	</main>
	<Contact />
</Layout>
<style>

	main{
		padding-bottom: 4rem;
	}
</style>
