---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Presentation from '../components/Presentation.astro';
import Service from '../components/Service.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Accueil">
	<Header />
	<Nav />
	<Hero />
	<main>
		<Presentation />
		<Service />
	</main>
	<Contact />
	<Footer />
</Layout>
<style>

	main{
		padding-bottom: 4rem;
	}
</style>
<script>
import addAnimateClass from "../scripts/addAnimateClass";
	addAnimateClass();
</script>