---
const url = new URL(Astro.request.url);
const slug =url.pathname;
const path = slug === "/mentions-legales" || slug === "/politique-confidentialite" ? "/" : "";  
---
<nav class="navbar">
    <ul>
        <li><a href=`${path}#entreprise`>Notre Entreprise </a></li>
        <li><a href=`${path}#service`>Nos Prestations</a></li>
        <li><a href=`${path}#contact`>Nous Contacter</a></li>
    </ul>
</nav>
<style>
    nav{
        position: sticky;
        top: 0;
        z-index: 1;
    }
    nav>ul{
        display: flex;
        background: var(--color-background-transparent);
        justify-content: space-around;
        padding: 0.5rem 0;
    }
    nav a{
        font-size: var(--fontsize-text);
        font-weight: 600;
    }
    nav a:hover{
        color: var(--color-text-light);
        text-decoration: underline;
        text-underline-offset: 3px;
        background: var(--color-background);
        padding: 0.5rem 0;
    }
    @media (max-width:750px){
        nav>ul{
            padding-left:0.5rem ;
        }
        nav a {
                font-size: 1rem;
            }
        nav a:hover{
            background: none;
        }
    }
</style>