---
import data from "../datas/service.json";
import Cta from "./Cta.astro";
---
<section id="service">
    <h2>Nos Prestations</h2>
    <div class="container">
        <div class="services">
            {data.map((i)=>(
                <div class="card">
                    <img class="elementToAnimate" loading="lazy" src={i.image} alt={i.imageAlt} width="150px"/>
                    <h3>{i.title}</h3>
                    <ul>
                        {i.description.map((d)=>(
                            <li>{d}</li>
                        ))}
                    </ul>
                    <Cta text="Obtenez un devis" style="cta-card"/>
                </div>
            ))}
        </div>
    </div>
</section>
<style>
    section{
        padding-top: 2rem;
    }
    .container{
        display: flex;
        justify-content: center;
    }
    .services{
        width: 80%;
        gap: 2rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    h2{
        text-align: center;
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .card{
        min-width: 300px;
        display: grid;
        grid-template-rows: 170px 4.5rem auto 50px;
        text-align: left;
        padding: 0.5rem 2rem;
        font-size: var(--fontsize-text);
        height: 600px;
    }
    ul{
        list-style:disc;
        text-align: left;
    }
    li{
        margin-bottom: 0.5rem;
    }
    img{
        margin: 0 auto 1.5rem;
        border-radius: 50%;
        aspect-ratio: 1/1;
    }
    @media(max-width:1250px){
        .card{
            margin: 0 auto;
            width: 70%;
        }
    }
    @media(max-width:750px){
        .card{
            width: 80%;
            margin: 0 auto;
            font-size: 1rem;
            height: fit-content;
            padding: 0.5rem 1rem;
            height: inherit;
        }
    }
</style>